@model PixelPlacer.Models.ViewModels.UserVideosViewModels

@{
    ViewData["Title"] = "Index";
}

<div id="MyUploads-Index-Container">
    <h2 style="color:whitesmoke;">My Uploads</h2>
    <br />
    <p>
        <a asp-action="Upload" class="btn-sm red-btn btn-spacing">Upload</a>
        <a asp-action="Profile" asp-controller="Home" class="btn-sm red-btn btn-spacing">Home</a>
    </p>
    <br />
    <table class="table">
        <thead>
            <tr>

                <th>
                    <h4>Thumbnail</h4>
                </th>
                <th>
                    <h4>Title</h4>
                </th>
                <th>
                    <h4>Video Type</h4>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Videos)
            {
                <tr>
                    <td>
                        <img src="@item.Thumbnail" />
                    </td>
                    <td style="color:whitesmoke;">
                        @Html.DisplayFor(modelItem => item.VideoTitle)
                    </td>
                    @if (@item.VideoTypeId == 1)
                    {
                        <td style="color:whitesmoke;">
                            Standard
                        </td>
                    }
                    else if (@item.VideoTypeId == 2)
                    {
                        <td style="color:whitesmoke;">
                            Green Screen
                        </td>
                    }
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VideoId" class="btn red-btn btn-spacing">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.VideoId" class="btn red-btn btn-spacing">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Profile" asp-controller="Home">Home</a>
</div>

