@model IEnumerable<PixelPlacer.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VideoTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoFilePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Thumbnail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VideoTypeId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VideoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VideoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VideoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
