@model PixelPlacer.Models.ViewModels.ProjectPlayViewModel

@{
    ViewData["Title"] = "Details";
}
<div id="parentContainer">
    @if (Model.BackGroundVideo.BackGround == true)
    {
        <script>CreateBackGround(@Model.BackGroundVideo.ProjVidId, "@Model.BackGroundVideo.VFilePath.Replace(@"\", @"\\")", @Model.BackGroundVideo.VTypeId)</script>
    }
    @foreach (var item in Model.OverLayList)
    { 
        <script>CreateOverLay(@item.ProjVidId, "@item.VFilePath.Replace(@"\", @"\\")", @item.XPosition, @item.YPosition, @item.Width, @item.Height, @item.Rotation)</script>
    }    
</div>
<div>
    <button id="PlayButton" class="btn btn-info btn-lg">Play/Pause</button>
    <button id="StopButton" class="btn btn-info btn-lg">Restart</button>
    <button id="InteractiveButton" class="btn btn-info btn-lg">Interactive</button>

    @*<a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
